*{
    margin: 0 auto;
    padding: 0;
}

.container{
    max-width: 1320px;
}
h1{
    text-align: center;
}
p{
    font-size: 30px;
}
.EvenOdd_input{
    margin: 30px;
}
label{
    font-size: 30px;
}
input{
    font-size: 25px;
}
.YearInput{
    margin: 30px; 
}